body {
  font-family: Nunito, sans-serif;
}
a:link {
  color: rgb(225, 0, 255);
}

/* visited link */
a:visited {
  color: cornflowerblue;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}
