body {
  font-family: Nunito, sans-serif;
}
.projectName {
  color: darkblue;
  text-decoration: underline;
}
.simpleHeader {
  color: darkblue;
}

.on {
  background: orange;
}
.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
}
.bodyDiv {
  padding: 5px;
  text-align: left;
  border-style: none;
  font-size: 2em;
}

a:link {
  color: rgb(225, 0, 255);
}

/* visited link */
a:visited {
  color: cornflowerblue;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

img {
  height: auto;
  width: 20%;
  border-radius: 50%;
}
