body {
  font-family: Nunito, sans-serif;
}
.projectName {
  color: darkblue;
  text-decoration: underline;
}
.simpleHeader {
  color: darkblue;
}

.on {
  background: orange;
}

a:link {
  color: rgb(225, 0, 255);
}

/* visited link */
a:visited {
  color: cornflowerblue;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

img {
  height: auto;
  width: 20%;
  border-radius: 50%;
}
.col-2 {
  width: 50%;
}
